*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#111827;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0f172a;
position:sticky;
top:0;
z-index:1000;
}

nav h2{
font-size:34px;
font-weight:700;
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
gap:35px;
}

nav ul li{
list-style:none;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

nav ul li a:hover{
color:#38bdf8;
}

/* HERO */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 8%;
gap:60px;
min-height:90vh;
}

.hero-text{
flex:1;
}

.hero-text h1{
font-size:65px;
line-height:1.2;
margin-bottom:20px;
}

.hero-text span{
color:#38bdf8;
}

.hero-text h3{
font-size:30px;
margin-bottom:20px;
}

.hero-text p{
font-size:20px;
line-height:1.7;
color:#d1d5db;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 40px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:40px;
transition:.3s;
}

.btn:hover{
transform:translateY(-5px);
}

.hero-image{
flex:1;
display:flex;
justify-content:center;
}

.hero-image img{
width:320px;
height:320px;
border-radius:50%;
object-fit:cover;
border:6px solid #38bdf8;
}

/* Sections */

section{
padding:80px 8%;
}

section h2{
text-align:center;
font-size:42px;
margin-bottom:40px;
}

section p{
text-align:center;
font-size:18px;
line-height:1.8;
}

/* Skills */

.skill-box{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.skill-box span{
background:#1f2937;
padding:15px 30px;
border-radius:12px;
transition:.3s;
}

.skill-box span:hover{
background:#38bdf8;
}

/* Projects */

.project-card{
background:#1f2937;
padding:30px;
border-radius:20px;
margin-bottom:30px;
}

.project-card h3{
margin-bottom:15px;
color:#38bdf8;
}

.project-card p{
text-align:left;
}

.project-card a{
display:inline-block;
margin-top:20px;
color:#38bdf8;
text-decoration:none;
}

/* Contact */

#contact p{
margin:15px 0;
}

/* Footer */

footer{
padding:30px;
text-align:center;
background:#0f172a;
margin-top:50px;
}

/* Mobile */

@media(max-width:900px){

nav{
flex-direction:column;
gap:20px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

.hero{
flex-direction:column-reverse;
text-align:center;
}

.hero-text h1{
font-size:45px;
}

.hero-image img{
width:220px;
height:220px;
}

}
